<CharacterSelection>
    <div class="d-xl-flex" style="width: 200px;height: 54px;border: 2px solid #000000!important;">
        <img src="@ImagePath"; style="width: 50px;height: 50px;" />
        <div class="text-left"><span class="d-xl-flex align-items-xl-center" style="margin-top: 0px;">@character.name</span><span class="text-center d-xl-flex align-items-xl-center" style="margin-top: 2px;">@character.role.Name</span></div>
    </div>
</CharacterSelection>
@code {
    [Parameter]
    public Cyberpunk2020Library.Character character { get; set; }

    [Parameter]
    public string ImagePath { get; set; }
}
