
<CharacterDisplay class="text-left">
    <div class="text-left d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center align-content-center justify-content-sm-start justify-content-xl-center align-items-xl-center" style="font-family: Comfortaa, cursive;">
        <div class="container" style="width: 163px;padding: 0px;margin-right: 0px;margin-left: 0px;background-color: #dedede;margin-top: 20px;font-family: Comfortaa, cursive;">
            <div class="row">
                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center"><span style="font-size: 22px;font-family: Comfortaa, cursive;"><strong>STATS</strong></span></div>
            </div>
            <div class="row" style="font-size: 22px;padding-left: 10px;height: 30px;background-color: transparent;font-family: Comfortaa, cursive;">
                <div class="col" style="height: 30px;width: 90px;padding-right: 0px;background-color: rgba(237,123,19,0);"><span style="margin-top: 0px;font-family: Comfortaa, cursive;">INT</span></div>
                <div class="col" style="padding-left: 0;padding-right: 0px;height: 30px;width: 49px;"><span style="margin-left: 30px;">[10]</span></div>
            </div>
            <div class="row" style="font-size: 22px;padding-left: 10px;height: 30px;">
                <div class="col" style="height: 30px;width: 90px;padding-right: 0px;"><span style="margin-top: 0px;">REF</span></div>
                <div class="col" style="padding-left: 0;padding-right: 0px;height: 30px;width: 49px;"><span style="margin-left: 30px;">[10]</span></div>
            </div>
            <div class="row" style="font-size: 22px;padding-left: 10px;height: 30px;">
                <div class="col" style="height: 30px;width: 90px;padding-right: 0px;"><span style="margin-top: 0px;">TECH</span></div>
                <div class="col" style="padding-left: 0;padding-right: 0px;height: 30px;width: 49px;"><span style="margin-left: 30px;">[10]</span></div>
            </div>
            <div class="row" style="font-size: 22px;padding-left: 10px;height: 30px;">
                <div class="col" style="height: 30px;width: 90px;padding-right: 0px;"><span style="margin-top: 0px;">COOL</span></div>
                <div class="col" style="padding-left: 0;padding-right: 0px;height: 30px;width: 49px;"><span style="margin-left: 30px;">[10]</span></div>
            </div>
            <div class="row" style="font-size: 22px;padding-left: 10px;height: 30px;">
                <div class="col" style="height: 30px;width: 90px;padding-right: 0px;"><span style="margin-top: 0px;">ATTR</span></div>
                <div class="col" style="padding-left: 0;padding-right: 0px;height: 30px;width: 49px;"><span style="margin-left: 30px;">[10]</span></div>
            </div>
            <div class="row" style="font-size: 22px;padding-left: 10px;height: 30px;">
                <div class="col" style="height: 30px;width: 90px;padding-right: 0px;"><span style="margin-top: 0px;">LUCK</span></div>
                <div class="col" style="padding-left: 0;padding-right: 0px;height: 30px;width: 49px;"><span style="margin-left: 30px;">[10]</span></div>
            </div>
            <div class="row" style="font-size: 22px;padding-left: 10px;height: 30px;">
                <div class="col" style="height: 30px;width: 90px;padding-right: 0px;"><span style="margin-top: 0px;">MA</span></div>
                <div class="col" style="padding-left: 0;padding-right: 0px;height: 30px;width: 49px;"><span style="margin-left: 30px;">[10]</span></div>
            </div>
            <div class="row" style="font-size: 22px;padding-left: 10px;height: 30px;">
                <div class="col" style="height: 30px;width: 90px;padding-right: 0px;"><span style="margin-top: 0px;">BODY</span></div>
                <div class="col" style="padding-left: 0;padding-right: 0px;height: 30px;width: 49px;"><span style="margin-left: 30px;">[10]</span></div>
            </div>
            <div class="row" style="font-size: 22px;padding-left: 10px;height: 30px;">
                <div class="col" style="height: 30px;width: 90px;padding-right: 0px;"><span style="margin-top: 0px;">EMP</span></div>
                <div class="col" style="padding-left: 0;padding-right: 0px;height: 30px;width: 49px;"><span style="margin-left: 30px;">[10]</span></div>
            </div>
        </div>
        <div>
            <div style="width: 652px;">
                <div class="container" style="padding: 0px;padding-right: 0px;padding-left: 0px;">
                    <div class="row" style="        margin: 0px;
        margin-left: 15px;
        margin-right: 0px;
        padding-top: 20px;">
                        <div class="col-lg-2 text-center d-lg-flex justify-content-lg-center align-items-lg-center" style="padding: 0px;background-color: #000000;width: 70PX;min-width: 70PX;"><span style="color: rgb(255,255,255);">HANDLE</span></div>
                        <div class="col-lg-10 d-lg-flex align-items-lg-center border" style="font-family: Comfortaa, cursive;"><span>Text</span></div>
                    </div>
                    <div class="row" style="        margin: 0px;
        margin-left: 15px;
        margin-right: 0px;
        margin-top: 2px;">
                        <div class="col-lg-1 text-center d-lg-flex justify-content-lg-center align-items-lg-center" style="padding: 0px;background-color: #000000;width: 70PX;min-width: 70PX;"><span style="color: rgb(255,255,255);">ROLE</span></div>
                        <div class="col-lg-3 d-lg-flex align-items-lg-center border" style="font-family: Comfortaa, cursive;width: 574px;max-width: 567px;"><span>Text</span></div>
                        <div class="col-lg-4 d-lg-flex justify-content-lg-center align-items-lg-center" style="background-color: #000000;"><span style="color: rgb(255,255,255);">CHARACTER POINTS</span></div>
                        <div class="col d-lg-flex justify-content-lg-start align-items-lg-center border" style="font-family: Comfortaa, cursive;width: 574px;max-width: 567px;"><span>Text</span></div>
                    </div>
                </div>
            </div>
            <div class="d-md-flex d-lg-flex d-xl-flex justify-content-md-start justify-content-lg-start justify-content-xl-start">
                <div class="container text-left" style="margin-right: 15px;margin-left: 0px;margin-top: 14px;width: 122px;padding-right: 0px;padding-left: 15px;">
                    <div class="row">
                        <div class="col text-center border" style="margin-left: 15px;padding-right: 0px;padding-left: 0px;width: 128px;height: 75px;">
                            <span style="font-size: 22px;">SAVE</span><span class="text-center d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-xl-start border-top"
                                                                            style="font-family: Comfortaa, cursive;">Text</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center border" style="margin-left: 15px;padding-right: 0px;padding-left: 0px;width: 128px;height: 75px;margin-top: 2px;">
                            <span style="font-size: 22px;">BTM</span><span class="text-center d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-xl-start border-top"
                                                                           style="margin-left: 0px;padding-right: 0px;padding-left: 0px;width: 100%;height: 40px;">Text</span>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-right: 0px;margin-left: 15px;margin-top: 14px;padding-right: 0px;padding-left: 0px;width: 500px;height: 150px;">
                    <div class="row" style="margin-right: 0px;margin-left: 0px;width: 500px;">
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-left: 0px;padding-right: 0px;max-width: 100px;height: 25px;min-width: 100px;"><span>LIGHT</span></div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;"><span style="height: 25px;">SERIOUS</span></div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;"><span>CRITICAL</span></div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;"><span>MORTAL_0</span></div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;"><span>MORTAL_1</span></div>
                    </div>
                    <div class="row" style="margin-right: 0px;margin-left: 0px;width: 500px;height: 25px;">
                        <div class="col-xl-1 d-lg-flex justify-content-lg-center" style="width: 100px;padding-left: 0px;padding-right: 0px;max-width: 100px;height: 25px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center"
                             style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row text-center" style="margin-right: 0px;margin-left: 0px;width: 500px;height: 32px;">
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center align-items-xl-center" style="width: 100px;padding-left: 0px;padding-right: 0px;max-width: 100px;height: 14px;min-width: 100px;margin-top: 4px;margin-bottom: 6px;background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=0</span></div>
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;height: 14px;margin-top: 4px;margin-bottom: 6px;background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=1</span></div>
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;height: 14px;margin-top: 4px;margin-bottom: 6px;background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=2</span></div>
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;height: 14px;margin-top: 4px;margin-bottom: 6px;background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=3</span></div>
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;height: 14px;margin-top: 4px;margin-bottom: 6px;background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=4</span></div>
                    </div>
                    <div class="row" style="margin-right: 0px;margin-left: 0px;width: 500px;">
                        <div class="col-xl-2" style="width: 100px;padding-left: 0px;padding-right: 0px;max-width: 100px;height: 25px;min-width: 100px;"><span class="d-lg-flex justify-content-lg-center">MORTAL_2</span></div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;"><span style="height: 25px;">MORTAL_3</span></div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;"><span>MORTAL_4</span></div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;"><span>MORTAL_5</span></div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;"><span>MORTAL_6</span></div>
                    </div>
                    <div class="row" style="margin-right: 0px;margin-left: 0px;width: 500px;height: 25px;">
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center" style="width: 100px;padding-left: 0px;padding-right: 0px;max-width: 100px;height: 25px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center"
                             style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center"
                             style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center"
                             style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                        <div class="col-xl-2 d-lg-flex justify-content-lg-center"
                             style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;">
                            <label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label><label class="checkbox-button">
                                <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                <span class="checkbox-button__control"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row text-center" style="margin-right: 0px;margin-left: 0px;width: 500px;height: 20px;margin-top: 1px;">
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center align-items-xl-center" style="width: 100px;padding-left: 0px;padding-right: 0px;max-width: 100px;height: 14px;min-width: 100px;margin-top: 4px;margin-bottom: 6px;color: rgb(255,255,255);background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=5</span></div>
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;height: 14px;margin-top: 4px;margin-bottom: 6px;background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=6</span></div>
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;height: 14px;margin-top: 4px;margin-bottom: 6px;background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=7</span></div>
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;height: 14px;margin-top: 4px;margin-bottom: 6px;background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=8</span></div>
                        <div class="col-xl-2 text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center" style="width: 100px;padding-right: 0px;padding-left: 0px;max-width: 100px;min-width: 100px;height: 14px;margin-top: 4px;margin-bottom: 6px;background-color: #000000;"><span style="font-size: 11px;color: rgb(255,255,255);">STUN=9</span></div>
                    </div>
                </div>
            </div>
            <div class="d-lg-flex d-xl-flex justify-content-lg-start justify-content-xl-start" style="width: 652px;">
                <div class="container" style="padding-right: 0px;width: 122px;padding-left: 0px;margin-left: 15px;">
                    <div class="row" style="margin-left: 0px;margin-right: 0px;">
                        <div class="col d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="padding-left: 0px;padding-right: 0px;width: 153px;height: 35px;margin-top: 8px;background-color: #000000;color: rgb(255,255,255);"><span>LOCATION</span></div>
                    </div>
                    <div class="row" style="margin-left: 0px;margin-right: 0px;">
                        <div class="col d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="padding-left: 0px;padding-right: 0px;width: 153px;height: 35px;margin-top: 1px;background-color: #000000;color: rgb(255,255,255);"><span>ARMOR_SP</span></div>
                    </div>
                </div>
                <div class="container border" style="padding-right: 0px;padding-left: 0px;margin-top: 8px;height: 71px;min-height: 71px;max-height: 71px;width: 515px;">
                    <div class="row" style="margin: 0px;width: 515px;min-width: 515px;max-width: 515px;">
                        <div class="col text-center border-right" style="font-family: Comfortaa, cursive;padding-right: 0px;padding-left: 0px;height: 67px;min-height: 67px;max-height: 67px;">
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 35px;min-height: 35px;max-height: 35px;">
                                <div class="col" style="height: 35px;min-height: 35px;max-height: 35px;">
                                    <div class="row" style="min-height: 20px;max-height: 20px;height: 20px;">
                                        <div class="col"><span>HEAD</span></div>
                                    </div>
                                    <div class="row" style="height: 15px;min-height: 15px;max-height: 15px;">
                                        <div class="col"><span class="d-xl-flex justify-content-xl-center align-items-xl-start" style="font-size: 12px;">1</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 30px;min-height: 30px;max-height: 30px;">
                                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center border-top" style="font-family: Comfortaa, cursive;"><span class="d-xl-flex justify-content-xl-center align-items-xl-center">Text</span></div>
                            </div>
                        </div>
                        <div class="col text-center border-right" style="font-family: Comfortaa, cursive;padding-right: 0px;padding-left: 0px;max-height: 67px;min-height: 67px;height: 67px;">
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 35px;min-height: 35px;max-height: 35px;">
                                <div class="col" style="height: 35px;min-height: 35px;max-height: 35px;">
                                    <div class="row" style="min-height: 20px;max-height: 20px;height: 20px;">
                                        <div class="col"><span>TORSO</span></div>
                                    </div>
                                    <div class="row" style="height: 15px;min-height: 15px;max-height: 15px;">
                                        <div class="col"><span class="d-xl-flex justify-content-xl-center align-items-xl-start" style="font-size: 12px;">2-4</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 30px;min-height: 30px;max-height: 30px;">
                                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center border-top" style="font-family: Comfortaa, cursive;"><span class="d-xl-flex justify-content-xl-center align-items-xl-center">Text</span></div>
                            </div>
                        </div>
                        <div class="col text-center border-right" style="font-family: Comfortaa, cursive;padding-right: 0px;padding-left: 0px;max-height: 67px;min-height: 67px;height: 67px;">
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 35px;min-height: 35px;max-height: 35px;">
                                <div class="col" style="height: 35px;min-height: 35px;max-height: 35px;">
                                    <div class="row" style="min-height: 20px;max-height: 20px;height: 20px;">
                                        <div class="col"><span>R.ARM</span></div>
                                    </div>
                                    <div class="row" style="height: 15px;min-height: 15px;max-height: 15px;">
                                        <div class="col"><span class="d-xl-flex justify-content-xl-center align-items-xl-start" style="font-size: 12px;">5</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 30px;min-height: 30px;max-height: 30px;">
                                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center border-top" style="font-family: Comfortaa, cursive;"><span>Text</span></div>
                            </div>
                        </div>
                        <div class="col text-center border-right" style="font-family: Comfortaa, cursive;padding-right: 0px;padding-left: 0px;max-height: 67px;min-height: 67px;height: 67px;">
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 35px;min-height: 35px;max-height: 35px;">
                                <div class="col" style="height: 35px;min-height: 35px;max-height: 35px;">
                                    <div class="row" style="min-height: 20px;max-height: 20px;height: 20px;">
                                        <div class="col"><span>L.ARM</span></div>
                                    </div>
                                    <div class="row" style="height: 15px;min-height: 15px;max-height: 15px;">
                                        <div class="col"><span class="d-xl-flex justify-content-xl-center align-items-xl-start" style="font-size: 12px;">6</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 30px;min-height: 30px;max-height: 30px;">
                                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center border-top" style="font-family: Comfortaa, cursive;"><span>Text</span></div>
                            </div>
                        </div>
                        <div class="col text-center border-right" style="font-family: Comfortaa, cursive;padding-right: 0px;padding-left: 0px;max-height: 67px;min-height: 67px;height: 67px;">
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 35px;min-height: 35px;max-height: 35px;">
                                <div class="col" style="height: 35px;min-height: 35px;max-height: 35px;">
                                    <div class="row" style="min-height: 20px;max-height: 20px;height: 20px;">
                                        <div class="col"><span>R.LEG</span></div>
                                    </div>
                                    <div class="row" style="height: 15px;min-height: 15px;max-height: 15px;">
                                        <div class="col"><span class="d-xl-flex justify-content-xl-center align-items-xl-start" style="font-size: 12px;">7-8</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 30px;min-height: 30px;max-height: 30px;">
                                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center border-top" style="font-family: Comfortaa, cursive;"><span>Text</span></div>
                            </div>
                        </div>
                        <div class="col text-center" style="font-family: Comfortaa, cursive;padding-right: 0px;padding-left: 0px;min-width: 83px;max-height: 67px;min-height: 67px;height: 67px;">
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 35px;min-height: 35px;max-height: 35px;">
                                <div class="col" style="height: 35px;min-height: 35px;max-height: 35px;">
                                    <div class="row" style="min-height: 20px;max-height: 20px;height: 20px;">
                                        <div class="col"><span>L.LEG</span></div>
                                    </div>
                                    <div class="row" style="height: 15px;min-height: 15px;max-height: 15px;">
                                        <div class="col"><span class="d-xl-flex justify-content-xl-center align-items-xl-start" style="font-size: 12px;">9-0</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 0px;margin-left: 0px;height: 30px;min-height: 30px;max-height: 30px;">
                                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center border-top" style="font-family: Comfortaa, cursive;width: 81px;max-width: 81px;"><span>Text</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center d-xl-flex justify-content-xl-start" style="width: 817px;margin-left: auto;margin-right: auto;">
        <div class="container text-left d-xl-flex justify-content-xl-center" style="padding: 0px;padding-right: 0px;padding-left: 0px;margin-top: 20px;width: 222px;margin-right: 0;margin-left: 0;">
            <div class="d-xl-flex justify-content-xl-center align-items-xl-start" style="width: 100%;">
                <div class="row" style="        margin: 0px;
        margin-left: 0;
        margin-right: 0px;
        margin-top: 0;
        width: 100%;">
                    <div class="col" style="padding-right: 0;padding-left: 0;">
                        <div class="row" style="margin-left: 0;margin-right: 0;background-color: #dedede;">
                            <div class="col" style="padding-right: 0;padding-left: 0;">
                                <div class="text-left"><span style="margin-top: 0px;font-family: Comfortaa, cursive;margin-left: 10px;"><strong>Skills</strong></span></div>
                                <div>
                                    <div class="text-center d-xl-flex align-items-xl-start" style="margin-top: 0;margin-right: auto;margin-left: auto;background-color: #d3cfcf;height: 26px;width: 98%;">
                                        <div class="col" style="padding-right: 0px;padding-left: 0px;"><span class="text-center d-xl-flex align-items-xl-start" style="margin-left: 8px;font-size: 16px;margin-top: 0px;">Authority</span></div>
                                        <div class="col-xl-2 text-center d-xl-flex justify-content-xl-end" style="padding-right: 0;padding-left: 0;margin-right: 10px;width: 53px;"><span class="text-center d-xl-flex justify-content-xl-end" style="font-size: 17px;">[10]</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-left d-xl-flex justify-content-xl-center" style="padding: 0px;padding-right: 0px;padding-left: 0px;margin-top: 18px;width: 590px;margin-right: 0;margin-left: 5px;">
            <div class="d-xl-flex justify-content-xl-center align-items-xl-start" style="width: 100%;">
                <div class="row" style="        margin: 0px;
        margin-left: 0;
        margin-right: 0px;
        margin-top: 0;
        width: 100%;">
                    <div class="col" style="padding-right: 0;padding-left: 0;">
                        <div class="row" style="margin-left: 0;margin-right: 0;background-color: transparent;">
                            <div class="col" style="padding-right: 0;padding-left: 0;">
                                <div class="text-left d-xl-flex" style="height: 27px;">
                                    <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-end rounded-top" style="margin-top: 2px;font-family: Comfortaa, cursive;margin-left: 0px;width: 106px;background-color: #d3cfcf;border-left: 2px solid #c5c0c0!important;border-top: 2px solid #c5c0c0!important;border-right: 2px solid #c5c0c0!important;"><strong>Cybernetics</strong></span>
                                    <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-end" style="margin-top: 0px;font-family: Comfortaa, cursive;margin-left: 10px;width: 46px;background-color: #d3cfcf;"><strong>Gear</strong></span><span class="text-center d-xl-flex justify-content-xl-center align-items-xl-end" style="margin-top: 0px;font-family: Comfortaa, cursive;margin-left: 10px;width: 81px;background-color: #d3cfcf;"><strong>Weapons</strong></span>
                                    <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-end" style="margin-top: 0px;font-family: Comfortaa, cursive;margin-left: 10px;width: 76px;background-color: #d3cfcf;"><strong>Lifepath</strong></span>
                                </div>
                                <div style="border-left: 2px solid #c5c0c0!important;border-bottom: 2px solid #c5c0c0!important;border-right: 2px solid #c5c0c0!important;">
                                    <div class="text-center d-xl-flex align-items-xl-start" style="margin-top: 0;background-color: #d3cfcf;height: 26px;width: 100%;">
                                        <div class="col" style="padding-right: 0px;padding-left: 0px;"><span class="text-center d-xl-flex align-items-xl-start" style="margin-left: 8px;font-size: 16px;margin-top: 0px;">Authority</span></div>
                                        <div class="col-xl-2 text-center d-xl-flex justify-content-xl-end" style="padding-right: 0;padding-left: 0;margin-right: 10px;width: 53px;"><span class="text-center d-xl-flex justify-content-xl-end" style="font-size: 17px;">[10]</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</CharacterDisplay>

@code {
    [Parameter]
    public Cyberpunk2020Library.Character character { get; set; }
}