@page "/characters"

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cyberpunk2020CharacterSheet</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="css/bootstrap/styles.css">
</head>

<div>
    <div>
        @for (int i = 0; i < chars.Length; i++)
        {
            <div>
                @{
                    int j = i;
                }
                <div @onclick="() => DisplayCharacter(j)">
                    <Cyberpunk2020CC.Components.CharacterMiniDisplay character="@chars[j]"> </Cyberpunk2020CC.Components.CharacterMiniDisplay>
                </div>
            </div>
        }
    </div>
    
    <div>
        @if (current != null)
        {
            <Cyberpunk2020CC.Components.CharacterDisplay character="@current"></Cyberpunk2020CC.Components.CharacterDisplay>
        }
    </div>
</div>




@code {
    Character[] chars = Server.GetCharactersFromDatabase();

    Character current = null;

    private void DisplayCharacter(int i)
    {
        current = chars[i];
    }
}
